<header>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js">
   import commentBox from 'commentbox.io';
   commentBox('5748817198579712-proj');
  </script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161716607-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-161716607-1');
</script>
  <div>
    <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
    {% assign owner_first_name = site.owner | split: " " %}
    <h1>{{ owner_first_name[0] | downcase }}@home:~$</h1>
    </a>
    <div class="header-links">
      {% include links.html %}
    </div>
  </div>

</header>
