---
layout: default
---

<article>
  {{ content }}
  <!-- Conversion Pixel -->
<script language="JavaScript">
var mf_unique_ID="web.myTest.cpv";
var mf_customerID="PPPPP";
var mf_orderID="QQQQQ";
var mf_campaign_ID="RRRRR";
var mf_page_id="SSSSS";
var mf_event_type="TTTTT";
var mf_email_id="UUUUU";
var mf_publisher_identifier="VVVVV";
var mf_sub_publisher_identifier="WWWWW";
</script>
<script src="https://web-pixel-js.s3.us-east-2.amazonaws.com/event/thankyoupage.js"></script>
<!-- Conversion Pixel -->
</article>
