---
layout: default
---

<article>
  <h2>{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>
<!-- Conversion Pixel -->
<script language="JavaScript">
var mf_unique_ID="web.myTest.cpv";
var mf_customerID="PPPPP";
var mf_orderID="QQQQQ";
var mf_campaign_ID="RRRRR";
var mf_page_id="SSSSS";
var mf_event_type="TTTTT";
var mf_email_id="UUUUU";
var mf_publisher_identifier="VVVVV";
var mf_sub_publisher_identifier="WWWWW";
</script>
<script src="https://web-pixel-js.s3.us-east-2.amazonaws.com/event/thankyoupage.js"></script>
<!-- Conversion Pixel -->
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://nabhchar.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
